body {
    font-family: Lexend;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
    color: #666;
}
form {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: auto;
}

form input {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}
form button {
    background-color: #5ddb6e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    display: block;
    margin: 0 auto;
}
form button:hover {
    background-color: #45c55a;
}

.success-message {
    color: green;
    text-align: center;
    font-weight: bold;
}
.error-message {
    color: red;
    text-align: center;
    font-weight: bold;
}